html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #F5F3EE;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

#log {
  width: 100%;
  box-sizing: border-box;
  font-size: 0.5em;
}

.fix-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.center {
  position: absolute;
  height: 80%;
  margin: auto;
  top: 0; left: 0; right: 0; bottom: 0;
}

.hidden {
  display: none;
}

.disable {
  opacity: 0.2;
}
